<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">

        <div id="experiencia" *ngFor="let Proyecto of proyecto">

            <h2>{{Proyecto.nombre}}</h2>

            <h5>{{Proyecto.descripcion}}</h5>
            <p>
                Enlace: Repositorio del Github
                <a href={{Proyecto.link}}> del Proyecto </a>

            </p>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href={{Proyecto.link}} target="_blank">
                    <img src={{Proyecto.img}} class="img-fluid img-proyecto">
                </a>
            </div>
            <div *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editProyecto/{{Proyecto.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR</button>

                <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                    <i class=" bi bi-trash-fill"></i> BORRAR</button>
            </div>

        </div>

    </div>

</div>