<div class="row">
    <div class="container">
        <div class="logo">
            <a
                href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
                <img src="../../../assets/APLogo.png" id="logoAp"
                    alt="Imagen de Argentina programa, enlace a la pagina">
            </a>
        </div>
        <div class="redes">
            <a href="https://www.Instagram.com/polirrubros_codigo_urbano2020" target="_blank">
                <img src="../../../assets/instagram.png" id="icon-instagram" alt="icono Instagram link ">
            </a>
            <a href="https://mobile.twitter.com/germedi83" target="_blank">
                <img src="../../../assets/twitter.png" id="icon-twitter" alt="icono Twitter link">
            </a>
            <a href="https://wwww.facebook.com/gerardomedinav" target="_blank">
                <img src="../../../assets/facebook.png" id="icon-facebook" alt="icono facebook link">
            </a>
            <a href="https://github.com/Gerardomedinav" target="_blank">
                <span class="logogithub">
                    <img src="../../../assets/github.png" id="icon-github" alt="icono github link">
                </span>
            </a>
            <a href="https://www.linkedin.com/in/gerardo-medina-villalba-9b658a261/" target="_blank">
                <span class="linkedin">
                    <img src="../../../assets/linkedin.png" id="icon-github" alt="icono github link">
                </span>
            </a>
            <button class="btn btn-primary" type="button" (click)="login()" *ngIf="!isLogged" title="Presione para Ingresar">
                Login
            </button>
            <button class="btn btn-primary" type="button" (click)="onLogOut()" *ngIf="isLogged" title="Presione para Ingresar">
                Cerrar Sección
            </button>
        </div>
    </div>
</div>

